:root {
    --brand-color: #4d5ae5;
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --background-color-main: white;
    --background-color-dark: #2E2F42;
    --background-color-cloud: #F4F4FD;
    --link-color-change: #404bbf;
    --cornflower: #E7E9FC;
    --lightslate: #8E8F99;
    --indent: 24px;
    --items: 4;
    --items-portfolio: 3;
}

html {
    box-sizing: border-box;
}

*
*::before
*::after {
    box-sizing: inherit;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: var(--background-color-main);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* -----MOBILE AND TABLET----- */
section {
    padding: 96px 0;
}

/* -----DESKTOP----- */
@media only screen and (min-width: 1158px) {
    section {
        padding: 120px 0 0 0;
    }    
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* -----MOBILE----- */
.container {
    min-width: 320px;
    max-width: 428px;
    margin: 0 auto;
    padding: 0 16px;
} 

/* -----TABLET----- */
@media screen and (min-width: 768px) {
.container {
    max-width: 768px;
}
}

/* -----DESKTOP----- */
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);

}

.header-container {
    display: flex;
    }


.nav-container {
    display: flex;
    align-items: center;
    margin-right: auto;
    }

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.logo.link {
    text-decoration: none;
    margin: 0;
    margin-right: 76px;
    display: inline-block;
    padding: 24px 0 22px 0;
}

@media only screen and (min-width: 768px) {
   .logo.link {
    margin-right: 120px;
  }
}

.second-part {
    color: var(--title-text-color);
}

.logo:hover {
    color: var(--brand-color);
}

.link {
    text-decoration: none;
    display: block;
}
.list {
    list-style: none;
}

.nav-list {
    display: flex;
    gap: 40px;
}

@media only screen and (max-width: 767px) {
.nav-list{
    display: none;
  }
}

.first-page.link.current:hover,
.first-page.link.current:focus {
    color: #404bbf;
}
.list .link.current {
    color:var(--link-color-change)
}
.first-page.link.current {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-color-dark);
    padding: 24px 0;

    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-page.link.current:hover::after {
    display: block;
    content: "";
    height: 4px;
    background-color: #404bbf;
    position: absolute;
    bottom: -1px;
    left: 0;
    color: #404bbf;
}

.first-page.link.current.link-active {
    color: #404bbf;
}

.link-active::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
}

.address.list {
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
.address.list {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

@media only screen and (max-width: 767px) {
    .address.list {
        display: none;
    }
}

.contacts.list {
    display: flex;
    gap: 40px;
}

@media only screen and (min-width: 768px) {
   .contacts.list {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: flex-end;
  }
}

@media only screen and (min-width: 1158px) {
   .contacts.list {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.contacts.list:not(:last-child) {
gap: 40px;
}

.link.link.email {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    padding: 24px 0;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
   .link.link.email {
    padding: 0;
  }
}

.link.link.email:hover,
.link.link.email:focus {
    color: #404bbf;
}

.headline {
    margin: 0 auto;
    padding: 112px 0;
    background-color: var(--background-color-dark);
    background-image: linear-gradient(#2e2f42b3, #2e2f42b3), url(../images/hero/Dark-bg_mob@1x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-width: 1128px) {
   .headline {
    padding: 188px 0;
  }
}

/*___________________
    MOBILE SCREEN
____________________*/
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
   .headline {
        background-image: linear-gradient(#2e2f42b3, #2e2f42b3), url(../images/hero/Dark-bg_mob@2x.jpg);
    }
}

/*___________________
    TABLET SCREEN
____________________*/

@media only screen and (min-width: 429px) {
   .headline {
    background-image: linear-gradient(#2e2f42b3, #2e2f42b3), url(../images/hero/Dark-bg_tabl@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
      .headline {
          background-image: linear-gradient(#2e2f42b3, #2e2f42b3), url(../images/hero/Dark-bg_tabl@2x.jpg);
      }
  }
}

/*___________________
    DESKTOP SCREEN
____________________*/

@media only screen and (min-width: 769px) {
    .headline {
        background-image: linear-gradient(#2e2f42b3, #2e2f42b3), url(../images/hero/people-office_desk@1x.jpg); 
    }
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .headline {
                background-image: linear-gradient(#2e2f42b3, #2e2f42b3), url(../images/hero/people-office_desk@1x.jpg);
            }
        }
    }

.headline-title {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;
    color: white;
    line-height: 1.11;
    max-width: 320px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    text-transform: capitalize;
}

@media only screen and (min-width: 428px) {
.headline-title {
        font-size: 36px;
    }
}

@media only screen and (min-width: 768px) {
.headline-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }
}

@media only screen and (min-width: 1158px) {
    .headline-title {
        margin-bottom: 48px;
}
}

.button.primary {
    background-color: #4D5AE5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.primary:hover,
.button.primary:focus {
    background-color: #404BBF;
}
 /*OUR ADVANTAGES*/

/*Mobile Styles*/
.adv-table.list {
    display: block;
}
 
/* Tablet Styles */
@media screen and (min-width: 768px) and (max-width: 1127px) {
    section.adv {
        padding: 96px 0 96px 0;
    }

    .adv-table.list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
    }
}

/* -----DESKTOP----- */
@media screen and (min-width: 1158px) {
    section.adv {
        padding: 120 0 0 0;
    }

  .adv-table.list {
      list-style: none;
      width: 1128px;
      display: flex;
      gap: 24px;
  } 
}

.adv-title {
     visibility: hidden;
}

/* MOBILE */
.adv-neighbour:not(:last-child) {
    padding-bottom: 72px;
}
/* Tablet */
@media only screen and (min-width: 768px) {
   .adv-neighbour:nth-last-child(-n+2) {
    padding-bottom: 0;
   }  
}

/* Deskop */
@media only screen and (min-width: 1158px) {
.adv-neighbour {
    width: calc((100%-72px)/4);
}
adv-neighbour:not(:last-child) {
    margin-right: 24px;
}
.adv-neighbour:not(:last-child) {
    padding-bottom: 0px;
}
}

.adv-picture {
    display: none;
}

@media only screen and (min-width: 1158px) { 
    .adv-picture {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background: var(--cloud, #F4F4FD);
        width: 264px;
        border-radius: 4px;
        padding: 24px 100px;
        margin-bottom: 8px;
    }
}

/* MOBILE and TABLET */
.adv-table-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    margin-bottom: 8px;
}

@media only screen and (max-width: 767px) {
   .adv-table-title {
    text-align: center;
   }
}

@media only screen and (min-width: 1158px) {
.adv-table-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }   
}

 /* MOBILE */
.adv-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);    
}

 /* TABLET */
@media only screen and (min-width: 768px) {
   .adv-text {
        max-width: 356px;
    } 
  }

/* DESKTOP */
@media only screen and (min-width: 1158px) {
    .adv-text {
            width: 264px;
        }
}

@media only screen and (max-width: 1158px){.section-work-samples {
display: none;
}
} 
.section-work-samples {
    padding-bottom: 120px;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    color: var(--title-text-color);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 72px;
    }

.work-samples-list {
    display: flex;
    gap: 24px;
}

.work-samples {
    width: calc((100%-3*16px)/3);
}

.section-team {
    background-color: #F4F4FD;
}
.section-title-team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
    margin-bottom: 72px;
}

.section-img-team {
    background-color: #FFFFFF;
    width: calc((100%-3*24px)/4);
    border-radius: 0px 0px 4px 4px;
}

.team-member {
    padding: 32px 16px;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;

}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--brand-color);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--link-color-change);
}

.social-media-icons {
    fill: var(--background-color-cloud)
}

.list-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-align: center;
    margin-bottom: 8px;
}
.list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-align: center;
}


/*MOBILE*/

/*TABLET*/
@media only screen and (min-width: 768px) {
   .section-customers {
    padding: 96px 108px; 
    margin-right: 0;
    margin: 0px;
  }
}

/*DESKTOP*/
@media only screen and (min-width: 1158px) {
   .section-customers {
    padding: 120px 0;
  }
}

.customers-title {
    font-size: 36px;
    line-height: 1.11;
    color: var(--title-text-color);
    margin-bottom: 72px;
    text-align: center;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    row-gap: 72px;
}

.customers-list:not(:last-child) {
    gap: 16px;
}

@media only screen and (min-width: 768px) {
.customers-list {
        column-gap: 24px;
        row-gap: 72px;
    }
  }

.customer-item {
    width: calc((100% - 16px) / 2);
}

@media only screen and (min-width: 768px) {
   .customer-item {
    width: calc((100% - 48px) / 3);
   }
}
@media only screen and (min-width: 1158px) {
    .customer-item {
        width: calc((100% - 120px) / 6);
        height: 88px;
    }
}
.customer-link {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    color: var(--lightslate);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover, 
.customer-link:focus {
    border-color: #404bbf;
    color: #404bbf;
}

.customer-icon {
    fill: currentColor;
}

.customer-logo {
fill: var(--lightslate);

transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-logo:hover,
.customer-logo:focus {
    fill: var(--link-color-change);
}

/*FOOTER*/
.page-footer {
    background-color: var(--title-text-color);
    padding: 96px 0;
    
}

@media only screen and (min-width: 1158px) {
   .page-footer {
    display: flex;
    padding: 100px 0;
    margin: auto;
  }
}

.footer-subscribe-text {
    width: 75px;
    margin-bottom: 16px;
    color: var(--white, #FFF);
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding-bottom: 16px;
    margin: 0 auto;
}

@media only screen and (min-width: 1158px) {
   .footer-subscribe-text {
    padding-bottom: 16px;
  }
}

.subscribe-form-input {
    max-width: 398px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--white, #FFF);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    width: calc(100% - 30px);
    margin-left: 15px;
    padding-left: 16px;
}

.subscribe-form-input::placeholder {
    color: #ffffff;
}

@media only screen and (min-width: 1158px) {
   .subscribe-form-input {
    max-width: 264px;
    margin-left: 0;
  }
}
.subscribe-form {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.footer-leftside {
    margin-bottom: 72px;
}

@media only screen and (min-width: 1158px) {
   .page-footer{
    padding: 100px 0;
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
.whole-footer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    max-width: 584px;

.footer-leftside {
    margin-bottom: 0;
}
    /*padding-right: 164px;
    padding-left: 108px;*/
}

.logo.link {
    padding: 0;
}

.subscribe-form-input {
    margin-left: 0;
    min-width: 264px;
}
.footer-subscribe-text {
    margin: 0;
}
.subscribe-form {
    flex-wrap: nowrap;
}

.subscribe-form-field {
    flex-basis: 100%;
    gap: 24px;
}
}

@media only screen and (min-width: 1158px) {
.whole-footer {
    padding-left: 0;
        flex-wrap: nowrap;
        align-items: baseline;
        margin-left: 156px;
    }

.footer-leftside {
    margin-right: 120px;
    margin-bottom: 0;
}
/*.footer-rightside {
    padding-top: 72px;
}*/ 
}

.logo.link.link-footer {
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
   .logo.link.link-footer {
    margin: 0;
    text-align: left;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 1158px) {
   .logo.link.link-footer {
    justify-content: flex-start;
  }
}

.slogan {
    line-height: 1.5;
    color: var(--background-color-cloud);
    letter-spacing: 0.02em;
    max-width: 264px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
   .slogan {
    padding-top: 16px;
  }
}

@media only screen and (min-width: 1158px) {
   .slogan {
    width: 264px;
    padding-top: 0;
  }
}

.socials-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-color-main);
    margin-bottom: 16px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
   .socials-text {
    text-align: left;
  }
}

.social-media-footer {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
   .social-media-footer {
    margin-bottom: 0;
  }
}
.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-second-part {
    color: #f4f4fd;
    text-align: center;
}

@media only screen and (min-width: 1158px) {
   .footer-second-part {
        margin-bottom: 17.5px;
  }
}

.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: var(--brand-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-social-media-icons {
fill: var(--background-color-cloud);
}

.footer-subscribe-wrapper {
    display: block;
}

@media only screen and (min-width: 768px) {
   .footer-subscribe-wrapper {
    margin-top: 72px;
  }
}

@media only screen and (min-width: 1158px) {
   .footer-subscribe-wrapper {
        margin-left: 80px;
        
  }
}

.subscribe-form-field {
    flex-basis: 100%;
}

.submit-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;

    background-color: var(--brand-color);
    color: #ffffff;

    border: none;
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
    background-color: #404BBF;
}

.subscribe-button {
    fill: white;
    margin-left: 16px;
}

/* FLEX GRID */

/*MOBILE CART SET*/
.list.cart-set {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;  
    justify-content: center;
    align-items: center;
}

.section-img-team.cart-set-item {
    flex-basis: (calc(100% - 72px) * 1) / 1;
}

/*TABLET CART SET*/
@media only screen and (min-width: 768px) {
  .list.cart-set {
    row-gap: 64px;
    column-gap: 24px;   
    justify-content: center;
    align-items: center;
  }

  .section-img-team.cart-set-item {
    flex-basis: (calc(100% - 24px) * 2) / 2;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
            0px 1px 1px 0px rgba(46, 47, 66, 0.16),
            0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

} 

/*DESKTOP CART SET*/
@media only screen and (min-width: 1158px) { .section-img-team.cart-set-item {
        width: calc((100% - 72px) / 4);
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
            0px 1px 1px 0px rgba(46, 47, 66, 0.16),
            0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }

    .section-team {
        padding-bottom: 120px;
    }
}

/* MODAL WINDOW */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.40);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 1;
    pointer-events: initial;
    visibility: visible;

}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    width: 96%;
    padding: 72px 5px 24px 5px;

    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 428px) {
   .modal{
    max-width: 392px;
    padding: 72px 16px 24px 16px;
  }
}
@media only screen and (min-width: 768px) {
   .modal {
max-width: 408px;
padding: 72px 24px 24px 24px;
  }
}

.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translate(-50%, -70%);
    transition-delay: 0ms;
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;

    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);

    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
    border: none;
    cursor: pointer;
    
}

.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon {
    fill: #ffffff;
}

.modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon:hover {
    background-color: #404bbf;
    border: none;
}

.modal-form {
}

@media only screen and (min-width: 428px) {
   .modal-form {
    min-width: 360px;
  }
}

.modal-caption {
    display: block;
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    text-align: center;

    color: var(--background-color-dark);
       
}

.modal-form-one {
    margin-bottom: 8px;
}

.modal-form-label {
    display: block;
    margin-bottom: 4px;
    color: var(--lightslate);

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-form-field {
    position: relative;
}

.modal-form-input {
    display: block;

    width: 100%;
    height: 40px;
    padding-left: 38px;

    outline: transparent;
    background-color: transparent;

    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (max-width: 427px) {
   .modal-form-input {
    width: 96%;
  }
}

.modal-form-input:focus {
    border-color: var(--brand-color);
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus+.modal-form-icon {
    fill: var(--brand-color);
}

.modal-form-two {
    margin-bottom: 16px;
}

.modal-form-comment {
    width: 100%;
    height: 120px;
    padding: 16px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: rgba(46, 47, 66, 0.4);

    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 4px;
    background-color: transparent;

    padding: 8px 16px;
    outline: transparent;
    resize: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

@media only screen and (max-width: 427px) {
   .modal-form-comment {
    width: 96%;
  }
}

.modal-form-comment:focus {
    border-color: var(--brand-color);
}

/* CHECKBOX STYLES */

.modal-form-three {
    margin-bottom: 24px;
    
}

.modal-form-agreement {
    display: flex;
    align-items: center;
    font-size: 11px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--lightslate);
}

 @media only screen and (min-width: 768px) {
    .modal-form-agreement {
    font-size: 12px;
   }
 }

.agreement-icon {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
}


.modal-form-agreement-checkbox:checked+.modal-form-agreement .agreement-icon {
    background-color: var(--link-color-change);
    border: none;
    fill: #F4F4FD;
}

.modal-form-agreement-desc {
    user-select: none;
    color: #8E8F99;
    font-size: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
}

.acception-small {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.modal-form-agreement-link {
    color: var(--brand-color);
}

.modal-form-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    margin: auto;

    color: var(--white, #FFF);
    background-color: #4D5AE5;
   
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    cursor: pointer;

    border: none;
    border-radius: 4px;


    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
        background-color: #404BBF;
    }

/* Page Portfolio*/
    
.section-portfolio.container {
    padding: 96px 0 120px 0;
}

.button-portfolio.all{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--brand-color);
    background-color: var(--background-color-cloud);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid var(--cornflower);border-radius: 4px;  

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio.all:hover,
.button-portfolio.all:focus {
    color: white;
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 
    0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.button-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.link-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--background-color-dark);
    margin-bottom: 8px;
}

.list .link {
    text-decoration: none;
}
.link-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.filter-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/* FLEX GRID PORTFOLIO */

.list.cart-set-portfolio {
    row-gap: 48px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
}

.cart-set-filter {
    width: calc((100% - 48px) / 3);
}

.cart-set-link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cart-set-link:hover .overlay-text,
.cart-set-link:focus .overlay-text {
        transform: translateY(0);
        opacity: 1;

        /*box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);*/
}

.overlay {
    position: relative;
    overflow: hidden;

}

.overlay-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-color-cloud);
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
}

/*-------------------
    HAMBURGER MENU
-------------------*/

.menu-toggle {
    min-height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-top: 80px;
    background-color:#ffffff;
    z-index: 999;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

@media only screen and (min-width: 768px) {
   .menu-container {
        display: none;
  }
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle 
{
    position: absolute;
    color: var(--title-text-color);
    
      top: 24px;
      right: 24px;
    
      width: 24px;
      height: 24px;
    
      border-radius: 50%;
    
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    
      background-color: #e7e9fc;
      border: 1px solid rgba(0, 0, 0, 0.1);
    
      cursor: pointer;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu {
    margin: 0;
    margin-bottom: auto;
    list-style: none;
}

.mobile-menu .link {
    display: block;
    color: var(--background-color-dark);
    text-decoration: none;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-weight: 700;
    padding-bottom: 40px;
}

.mobile-link.active {
    color: var(--link-color-change);
}

.mobile-menu .link:hover,
.mobile-menu .link:focus {
    color: var(--link-color-change);
}

.mobile-tel {
    font-size: 28px;
    line-height: 1.11;
    color: var(--link-color-change);
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-weight: 700;
    padding-bottom: 40px;
    white-space: nowrap;
}

@media only screen and (min-width: 428px) {
   .mobile-tel {
    font-size: 36px;
  }
}

.mobile-email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    padding-bottom: 48px;
}

.social-media-mobile {
    display: inline-flex;
    align-items: flex-start;
    gap: 36px;
}

@media only screen and (min-width: 428px) {
   .social-media-mobile {
    gap: 56px;
  }
}

.mobile-social-item {
    width: 40px;
    height: 40px;
}

.mobile-social-link {
    width: 100%;
    height: 100%;
    background-color: var(--brand-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mibile-social-link:hover,
.mobile-social-link:focus {
    background-color: #31d0aa;
}

.mobile-social-media-icons {
    fill: var(--background-color-cloud); 
}
